:root {
  --bg: #f7f7f7;
}

header * {
  transition-duration: 1s;
  transition-property: background-color;
}


body {
  background-color: var(--bg);
  /* animation-duration: 4s; */
  transition-duration: 1s;
  transition-property: background-color;
}

.card-title {
  font-weight: bold;
  font-size: 1.2em;
}

.missing-info {
  font-style: italic;
  font-size: 1.1em;
  color: #F42B03;
}


.brand_icon_dark path {
  fill:#f7f7f7;
}



.sidebar__menu {
  background-color: beige;
  position: sticky;
  left: 0;
  top: 2%;
}

.sidebar__menu__category {
  align-self: center;
  background-color: lawngreen;
  border-radius: 25%;
  height: 5vh;
  text-align: center;
  line-height: 5vh;
  transition-duration: .5s;
  width: 50%;
  cursor: pointer;

}

.sidebar__menu__category__icon {
  margin-right: 2em;
}

.sidebar__menu__category:hover{
  background-color: violet;
  transition-duration: .5s;
}

.details__main__rating svg {
  height: 4vh;
}

.details__main__player video {
  height: auto;
  width: 100%;
}

.details__actor__profile {
  text-align: center;
}

.details__actor__profile img {
  border-radius: 20%;
  min-height: 15vh;
  height: auto;
  width: 15vw;
}

.details__actor__profile h4 {
  font-weight: normal;

}
